/* ---CSS Custom Color Scheme--- */

.bg-transparent{
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
}

.border-transparent{
  border-color: rgb(255, 255, 255);
  border-color: rgba(255, 255, 255, 0);
}

.bg-red{
  background-color: rgb(244,67,54);
}

.border-red{
  border-color: rgb(244,67,54);
}

.text-red{
  color: rgb(244,67,54);
}

.bg-pink{
  background-color: rgb(233,30,99);
}

.border-pink{
  border-color: rgb(233,30,99);
}

.text-pink{
  color: rgb(233,30,99);
}

.bg-purple{
  background-color: rgb(156,39,176);
}

.border-purple{
  border-color: rgb(156,39,176);
}

.text-purple{
  color: rgb(156,39,176);
}

.bg-lightpurple{
  background-color: rgb(186,104,200);
}

.border-lightpurple{
  border-color: rgb(186,104,200);
}

.text-lightpurple{
  color: rgb(186,104,200);
}

.background-lavender{
  background-color: rgb(211,69,244);
}

.border-lavender{
  border-color: rgb(211,69,244);
}

.text-lavender{
  color: rgb(211,69,244);
}

.bg-indigo{
  background-color: rgb(63,81,181);
}

.border-indigo{
  border-color: rgb(63,81,181);
}

.text-indigo{
  color: rgb(63,81,181);
}

.bg-blue{
  background-color: rgb(33,150,243);
}

.border-blue{
  border-color: rgb(33,150,243);
}

.text-blue{
  color: rgb(33,150,243);
}

.bg-teal{
  background-color: rgb(100,255,218);
}

.border-teal{
  border-color: rgb(100,255,218);
}

.text-teal{
  color: rgb(100,255,218);
}

.bg-green{
  background-color: rgb(0,200,83);
}

.border-green{
  border-color: rgb(0,200,83);
}

.text-green{
  color: rgb(0,200,83);
}

.bg-yellow{
  background-color: rgb(255,171,0);
}

.border-yellow{
  border-color: rgb(255,171,0);
}

.text-yellow{
  color: rgb(255,171,0);
}

.bg-orange{
  background-color: rgb(255,109,0);
}

.border-orange{
  border-color: rgb(255,109,0);
}

.text-orange{
  color: rgb(255,109,0);
}

.bg-brown{
  background-color: rgb(121,85,72);
}

.border-brown{
  border-color: rgb(121,85,72);
}

.text-brown{
  color: rgb(121,85,72);
}

.bg-grey{
  background-color: rgb(158,158,158);
}

.border-grey{
  border-color: rgb(158,158,158);
}

.text-grey{
  color: rgb(158,158,158);
}

.bg-blue-grey{
  background-color: rgb(38,50,56);
}

.border-blue-grey{
  border-color: rgb(38,50,56);
}

.text-blue-grey{
  color: rgb(38,50,56);
}

.bg-dark-grey{
  background-color: rgb(33,33,33);
}

.border-dark-grey{
  border-color: rgb(33,33,33);
}

.text-dark-grey{
  color: rgb(33,33,33);
}

.bg-silver{
  background-color: rgb(192,192,192);
}

.border-silver{
  border-color: rgb(192,192,192);
}

.text-silver{
  color: rgb(192,192,192);
}

.bg-gainsboro{
  background-color: rgb(220,220,220);
}

.border-gainsboro{
  border-color: rgb(220,220,220);
}

.text-gainsboro{
  color: rgb(220,220,220);
}

.bg-whitesmoke{
  background-color: rgb(245,245,245);
}

.border-whitesmoke{
  border-color: rgb(245,245,245);
}

.text-whitesmoke{
  color: rgb(245,245,245);
}

.bg-customblue{
  background-color: rgb(0,155,183);
}

.border-customblue{
  border-color: rgb(0,155,183);
}

.text-customblue{
  color: rgb(0,155,183);
}

.bg-customlightblue{
  background-color: rgb(96,180,249);
}

.border-customlightblue{
  border-color: rgb(96,180,249);
}

.text-customlightblue{
  color: rgb(96,180,249);
}

.bg-lightprimary {
  background-color: rgb(90,173,246);
}

.border-lightprimary {
  border-color: rgb(90,173,246);
}

.text-lightprimary {
  color: rgb(90,173,246);
}

.bg-maroon{
  background-color: rgb(196,61,54);
}

.border-maroon{
  border-color: rgb(196,61,54);
}

.text-maroon{
  color: rgb(196,61,54);
}
